export AWS_PROFILE=<profile>
export AWS_REGION=<region>

### For minecraft example specifically
export RCRON_PASSWORD=<minecraft-rcron-pass>

### Route53 Stuff:
export DOMAIN_NAME=<your-domain-name>
# (Optional)
export HOSTED_ZONE_ID=<hosted-zone-id>
export EMAIL=<alert-email>
