
export TIMEZONE=<Your TZ Code>
# Use 'devel' if you want a dev playground environment,
#   or 'prod' otherwise:
export MATURITY=prod

### Good to set if you have multiple AWS Accounts:
export AWS_PROFILE=<profile>
export AWS_REGION=<region>

### For 'Valheim' example specifically
export VALHEIM_SERVER_NAME=<your-server-name>
export VALHEIM_SERVER_PASS=<valheim-pass>

### For palworld example specifically
export PALWORLD_PASSWORD=<palworld-pass>

### Base Stack Stuff:
export DOMAIN_NAME=<your-domain-name>
export HOSTED_ZONE_ID=<hosted-zone-id>
# (Optional - Delete from base-stack-config.yaml if not used):
export EMAILS=<alert-email>
