export AWS_PROFILE=<profile>
export AWS_REGION=<region>

### For 'Minecraft' example specifically
export RCRON_PASSWORD=<minecraft-rcron-pass>
export CF_API_KEY=<CurseForge API Key>

### For 'Valheim' example specifically
export VALHEIM_PASS=<valheim-pass>

### For palworld example specifically
export PALWORLD_PASSWORD=<palworld-pass>

### Route53 Stuff:
export DOMAIN_NAME=<your-domain-name>
export HOSTED_ZONE_ID=<hosted-zone-id>
# (Optional - Delete from base-stack-config.yaml if not used):
export EMAIL=<alert-email>
