name: Dispatch - DELETE Leaf Stack

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "The leaf stack to DESTROY!!!"
        type: environment
        required: true

## Concurrency would be nice if it cancelled the NEW run. CDK can only update a
# stack, if it's not being updated by something else. Let CDK just fail the second job.
# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
# concurrency:
#   group: "cdk-leaf"
#   cancel-in-progress: true

jobs:
  cdk-destroy-leaf:
    name: Destroy Leaf Stack (${{ inputs.environment }})
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment: "${{ inputs.environment }}"
    steps:
      - uses: actions/checkout@v6

      ## Install Everything / Setup Env Vars:
      - name: Setup CDK
        uses: ./.github/workflows/composite-setup-cdk
        with:
          secrets: ${{ toJson(secrets) }}
          vars: ${{ toJson(vars) }}

      ## Destroy the Leaf Stack:
      - name: "Destroying: ${{ inputs.environment }}"
        run: |
          make cdk-destroy-leaf \
            config-file="${{ vars.CONFIG_PATH }}" \
            container-id="${{ inputs.environment }}"