name: Dispatch - Deploy Leaf Stack

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "The leaf stack to Deploy"
        type: environment
        required: true

## Concurrency would be nice if it cancelled the NEW run. CDK can only update a
# stack, if it's not being updated by something else. Let CDK just fail the second job.
# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
# concurrency:
#   group: "cdk-leaf"
#   cancel-in-progress: true

jobs:
  cdk-deploy-leaf:
    name: Deploy Leaf Stack (${{ inputs.environment }})
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment: "${{ inputs.environment }}"
    steps:
      - uses: actions/checkout@v5

      - name: Setup CDK Deploy Leaf
        uses: ./.github/workflows/composite-cdk-deploy-leaf
        with:
          environment: ${{ inputs.environment }}
          secrets: ${{ toJson(secrets) }}
          vars: ${{ toJson(vars) }}
